@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/table/lib/css/table.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import '~react-widgets/dist/css/react-widgets.css';

*::-webkit-scrollbar {
    width: 10px;
    height: 10px
}
*::-webkit-scrollbar-track {
    background: #ebf1f5;
}
*::-webkit-scrollbar-thumb {
    background-color: #c9cfd3;
    border-radius: 10px;
    border: 3px solid #ebf1f5;
}


.App {
    height: 100vh;
    user-select: none
}

svg.material-icon {
    width: 1.5rem;
}

svg.material-icon-tree {
    padding: 0;
    margin-right: 6px;
}

body {
    margin: 0;
    /*padding: 10px;*/
    font-size: 14px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
}

.div-canvas {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    /*border:1px solid rgb(233, 233, 233);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.canvas {
    /*border: 1px solid rgb(134, 173, 239);*/
    /*box-shadow: 1px 1px 3px rgb(232, 232, 232);*/
}

.canvas-container {
     /*border: 1px solid rgb(239, 168, 157);*/
     margin: 0 auto;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     /*overflow: auto;*/
     /*border:1px solid rgb(233, 233, 233);*/
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     vertical-align: top;
     -webkit-tap-highlight-color: rgba(0,0,0,0);
 }

.canvas-for-analysis-container {
    margin: 0 auto;
    /*width: 100%;*/
    /*position: absolute;*/
    /*top: 20px;*/
    /*left: 20px;*/
    /*height: 100%;*/
    /*overflow: auto;*/
    /*border:1px solid rgb(233, 233, 233);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    vertical-align: top;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.bp3-tree-node > .bp3-tree-node-content {
    background-color: transparent;
}

.bp3-tree-node > .bp3-tree-node-content:hover {
    background-color: #eceff1;
    cursor: pointer;
}

.bp3-tree .bp3-tree-node.bp3-tree-node-selected > .bp3-tree-node-content {
    background-color: #78909c;
}

/*.bp3-tree .bp3-tree-node .bp3-tree-node-caret-none{*/
/*    min-width:14px; }*/

.bp3-dialog {
    user-select: initial !important;
}

.colored-icon:focus {
    color: white;
}

.stepper-container div div div div a {
    line-height: 23px !important;
    font-weight: 500 !important;
    text-decoration: none;
    margin-left: 0px;

}

.stepper-container div div div div span {
    line-height: 23px !important;
    font-weight: 500 !important;
    margin-left: 0px;
}

.stepper-container div div div {
    font-weight: 400 !important;
    text-decoration: none;
}

.stepper-container div div div a {
    font-weight: 400 !important;
    text-decoration: none;
}

.start-block {
    padding: 26px;

}

.geosuggestions {
    margin: 0px;
    padding: 0px;
    max-height: 90px;
    overflow-y: auto;
    overflow-x: hidden;
    border-color: currentcolor rgb(221, 221, 221) rgb(221, 221, 221);
    border-style: none solid solid;
    border-width: medium 1px 1px;
    background-color: white;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    list-style-type: none;
    text-align: left;
}

.geosuggestion {
    padding: 6px 10px;
    width: 100%;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.geosuggestion:hover {
    color: #4c5151;
    background-color: #dfe2e4;
}

.bp3-popover-wrapper.fullwidth, .bp3-popover-wrapper.fullwidth > .bp3-popover-target {
    display:block;
    max-width: 100%;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 6px;
}

/* with portal */
.bp3-overlay.fullwidth .bp3-select-popover {
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 6px;
}

/* without portal */
.bp3-popover-wrapper.fullwidth .bp3-select-popover {
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 6px;
}

.selectPopover {
    max-height: 160px;
    overflow: auto;
}


.rw-select-list {
    max-height: 220px;
    border-width: 0;
}

.rw-select-list-label {
    padding-top: 3px;
    padding-bottom: 3px;
}

.rw-list .rw-list-option .rw-state-focus {
    border-width: 0;
}

.rw-list-option {
    border-width: 0;
}

.rw-select-list .rw-list .rw-state-focus {
    border-width: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}














