@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  height: 100vh;
}

body {
  margin: 0;
  padding: 10px;
  font-size: 14px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.div-canvas {
  width: 99%;
  height: 90vh;
  overflow: auto;
  border:1px solid rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.canvas {
  border:1px solid rgb(239, 239, 239);
  box-shadow: 0px 0px 5px rgb(218, 218, 218);
}

.canvas-container {
  margin: 0px auto;
}



