@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.App {
    height: 100vh;
}

svg.material-icon {
    width: 1.5rem;
}

svg.material-icon-tree {
    padding: 0;
    margin-right: 6px;
}

body {
    margin: 0;
    /*padding: 10px;*/
    font-size: 14px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
}

.div-canvas {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    /*border:1px solid rgb(233, 233, 233);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.canvas {
    border: 0px solid rgb(239, 239, 239);
    box-shadow: 0px 0px 3px rgb(232, 232, 232);
}

.canvas-container {
    margin: 0px auto;
}

.bp3-tree-node > .bp3-tree-node-content {
    background-color: transparent;
}

.bp3-tree-node > .bp3-tree-node-content:hover {
    background-color: #eceff1;
    cursor: pointer;
}

.bp3-tree .bp3-tree-node.bp3-tree-node-selected > .bp3-tree-node-content {
    background-color: #78909c;
}

.bp3-dialog {
    user-select: initial !important;
}

.colored-icon:focus {
    color: white;
}

.stepper-container div div div div a {
    line-height: 23px !important;
    font-weight: 500 !important;
    text-decoration: none;
    margin-left: 0px;

}

.stepper-container div div div div span {
    line-height: 23px !important;
    font-weight: 500 !important;
    margin-left: 0px;
}

.stepper-container div div div {
    font-weight: 400 !important;
    text-decoration: none;
}

.stepper-container div div div a {
    font-weight: 400 !important;
    text-decoration: none;
}

.start-block {
    padding: 26px;

}

.geosuggestions {
    margin: 0px;
    padding: 0px;
    max-height: 90px;
    overflow-y: auto;
    overflow-x: hidden;
    border-color: currentcolor rgb(221, 221, 221) rgb(221, 221, 221);
    border-style: none solid solid;
    border-width: medium 1px 1px;
    background-color: white;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    list-style-type: none;
    text-align: left;
}

.geosuggestion {
    padding: 6px 10px;
    width: 100%;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.geosuggestion:hover {
    color: #4c5151;
    background-color: #dfe2e4;
}

.bp3-popover-wrapper.fullwidth, .bp3-popover-wrapper.fullwidth > .bp3-popover-target {
    display:block;
    max-width: 100%;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 6px;
}

/* with portal */
.bp3-overlay.fullwidth .bp3-select-popover {
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 6px;
}

/* without portal */
.bp3-popover-wrapper.fullwidth .bp3-select-popover {
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 6px;
}

.selectPopover {
    max-height: 160px;
    overflow: auto;
}












