@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.App {
    height: 100vh;
}

body {
    margin: 0;
    /*padding: 10px;*/
    font-size: 14px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.div-canvas {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    /*border:1px solid rgb(233, 233, 233);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.canvas {
    border: 1px solid rgb(239, 239, 239);
    box-shadow: 0px 0px 5px rgb(218, 218, 218);
}

.canvas-container {
    margin: 0px auto;
}

.bp3-tree-node > .bp3-tree-node-content {
    background-color: transparent;
}

.bp3-tree-node > .bp3-tree-node-content:hover {
    background-color: rgba(171, 214, 140, 0.9);
}

.bp3-tree .bp3-tree-node.bp3-tree-node-selected > .bp3-tree-node-content{
    background-color: #a1bd64; }












